body {
    background-image: url('img/fondo-enigma.jpg'); 
    background-size: 20%;
    background-position: center;
    background-repeat: repeat;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    background-color: #7ccad1;
    gap: 20px; 
}

header{
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.caja {
    width: 80%;
    display: flex;
    justify-content: space-around;
    /* margin: 1% auto;  */
    background-color: #9fb2cf; 
    padding: 15px; 
    border-radius: 50px 50% 50% 50px;
    align-items: center;
}

.titulo{
    font-weight: bold;
    font-size: 40px;
}

.contenedor {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.entrada, .salida{
    display: flex;
    justify-content: space-around;
    width: 35%;
    padding: 1%;
}

#textoEntrada, #textoSalida {
    font-size: 25px;
    width: 100%; 
    height: 300px; 
    resize: none;
}

#mensajeCopiado {
    max-width: 300px;
    font-size: 18px;
    margin-top: 10px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: #3ba4c4;
    color: white;
    padding: 10px;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

#mensajeCopiado.mostrar {
    opacity: 1;
}

.botones {
    flex: 10px 10px auto;
    display: flex;
    flex-direction: column;
    align-items: normal;
    font-weight: bold;
}

button {
    margin: 10px 25px;
    padding: 20px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    transition: color 0.3s ease, text-decoration 0.3s ease, transform 0.3s ease;
}

button:hover {
    background-color: #5884d6;
    transform: scale(1.1);
}

button:active {
    background-color: #b8c8e7;
}

footer {
    background-color: #9fb2cf;
    padding: 20px;
    text-align: center;
}

.contenedor2 {
    width: 100%;
    margin: 0 auto; 
    align-items: center; 
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.imagenFooter {
    margin-right: 40px; 
}

.imagenFooter img {
    max-height: 214px; 
}

.copyright {
    font-size: 16px; 
    font-weight: bold;
    color: #113341;
    margin: 10px 0; 
}

@media (max-width: 1100px) {
    .titulo h1{
        font-size: 20px;
    }

    .imagen{
        width: 100px;
        height: 100px;
        position: relative;
    }

    .imagen img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
    }

    .imagenFooter{
        width: 100px;
        height: 100px;
        position: relative;
    }

    .imagenFooter img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
    }

} 